@import 'header';

@import 'footer';


/* container-one */

.container-one{
    margin-top: 50px;
    h1{
        font-weight: bold;
        color: black;
        font-size: 40px;
        line-height: 105px;
        text-transform: uppercase;
        margin-bottom: 70px;
    }

	.blocks{
		display: flex;
		justify-content: space-between;
		.first-block{
			.images{
				width: 300px;
				height: 350px;
				background: gray;
			}

			.txt1{
				font-weight: bold;
				font-size: 20px;
				line-height: 105%;
				color: #000;
				margin-top: 15px;
				text-transform: uppercase;
			}

			.names{
				margin-top: 15px;	
				display: flex;
				align-items: center;
				width: 300px;	
				justify-content: space-between;		
				.txt2{
					font-weight: bold;
					font-size: 20px;
					line-height: 105%;
					color: #000;
					text-transform: uppercase;	
				}
			}


			form{
				button{
					width: 300px;
					padding-top: 15px;
					padding-bottom: 15px;
					background-color: aqua;
					border: none;
					border-radius: 30px;
					font-weight: bold;
					font-size: 15px;
					line-height: 105%;
					color: #000;
					text-transform: uppercase;
					margin-top: 35px;
					transition: 0.8s;
					cursor: pointer;		
				}

				button:hover{
					background-color: #000;
					color: #fff;
				}
			}
		}
	}
}

/* +- */

.number {
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 140px;
	border: 1px solid #ddd;
	display: inline-block;
}
.number-minus, .number-plus {
	position: absolute;
	top: 0;
	width: 40px;
	height: 32px;
	line-height: 32px;
	display: block;
	background: #faf4f2;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: arial;
	color: #3e1e02;
	text-decoration: none;
}
.number-minus {
	left: 0;
	border-right: 1px solid #ddd;
}
.number-plus {
	right: 0;
	border-left: 1px solid #ddd;
}
.number-minus:hover, .number-plus:hover {
	background: #fffcfb;
}
.number-minus:active, .number-plus:active {
	background: #e8e4e2;
}
.number-text{
	display: inline-block;
	font-size: 14px;
	color: #000;
	line-height: 32px;
	height: 32px;
	padding: 0;
	margin: 0 0 0 42px;
	background: #fff;
	outline: none;
	border: none;
	width: 57px;
	text-align: center;
}

/********************/