/* footer */


footer{
    background: #DCDCDC;
    margin-top: 50px;
   .all{
     display: flex;
     align-items: center;
     justify-content: center;
    .images{
      width: 150px;
      img{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }
  
    .txt{
      ul{
        display: flex;
        li{
          font-weight: 400;
          font-size: 22px;
          line-height: 105%;
          text-transform: uppercase;
          a{
            text-decoration: none;
            color: black;
            transition: 0.8s;
            cursor: pointer;
          }
  
           a:hover{
                      color: blue;
                  }
        }
  
        .first{
          padding-right: 20px;
        }
      }
    }
   }
  }
  